@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.main-container {
  flex-grow: 1;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter";
  font-size: 16px;
  line-height: 22px;
  min-width: 1200px;
  color: #565c66;
}

.main-header {
  line-height: 20px;
  color: #2d3440;
}

.contacts-phone {
  font-weight: 700;
}

.navigation-item a {
  text-decoration: none;
  color: #2d3440;
}

.slider-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
}

.ice-cream-description {
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
  width: 429px;
}

.button-link {
  text-decoration: none;
  color: #2d3440;
}

.title-description {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  text-align: center;
}

.present-list-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.present-list-item-description {
  color: #2d3440;
}

.popular-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  text-align: center;
}

.popular-ice-cream-title-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  text-decoration: none;
}

.product-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.about-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  text-align: center;
}

.news-comment {
  line-height: 20px;
}

.news-link {
  color: #2d3440;
  font-weight: 700;
  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
}

.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
}

.form-label {
  line-height: 20px;
  color: #2d3440;
  font-weight: 700;
  display: block;
}

.address-link {
  text-decoration: none;
  color: #2d3440;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.number-link {
  text-decoration: none;
  color: #2d3440;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.provider-list-item:first-child {
  font-weight: 700;
}

.provider-item-link {
  text-decoration: none;
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
}

.studio-description {
  font-size: 12px;
  line-height: 16px;
}

.studio-link {
  color: #2d3440;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  font-weight: 700;
}

.catalog-filter {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  list-style: none;
  min-width: 420px;
}

.logo-link {
  margin-bottom: 14px;
  display: contents;
  height: 27px;
  margin-right: 16px;
}

.navigation-list.navigation-user {
  margin-left: auto;
  min-width: 431px;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.first-demonstration-ice-cream {
  display: flex;
}

.collector {
  width: 455px;
  flex-shrink: 0;
}

.slider-prev {
  order: -1;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(-1) translateX(-20px);
}

.first-demonstration-ice-cream-container {
  order: -2;
}

.present-list {
  margin: 0;
  list-style: none;
  display: flex;
  padding: 0;
  align-self: flex-end;
  gap: 30px;
}

.present-list-item {
  width: 570px;
}

.present-list-item:last-child {
  margin-right: 0;
}

.popular-ice-cream-list {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
  column-gap: 30px;
  row-gap: 81px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.all-news {
  display: flex;
  align-items: flex-start;
}

.news {
  width: 538px;
  min-height: 224px;
}

.news:first-child {
  margin-right: 30px;
}

.delivery {
  display: flex;
}

.delivery-container {
  width: 371px;
  margin-right: 100px;
}

.delivery-card {
  width: 420px;
}

.address-card {
  width: 1170px;
}

.main-footer {
  width: 1170px;
  margin: 0 auto;
}

.social-list {
  list-style: none;
  width: 104px;
  margin: 0;
  display: flex;
  padding: 0;
  gap: 16px;
}

.provider-list {
  margin: 0;
  list-style: none;
  width: 356px;
}

.studio-card {
  width: 193px;
  margin-left: auto;
}

.about-list {
  margin: 0;
  display: flex;
  width: 1044px;
  flex-wrap: wrap;
}

.about-list-item {
  display: flex;
  margin-right: 32px;
}

.about-description {
  width: 442px;
  margin: 0;
}

.about-description-image {
  width: 48px;
  display: block;
  margin-right: 16px;
  height: 48px;
}

.about-list-item:nth-child(2) {
  margin-right: 0;
}

.about-list-item:nth-child(4) {
  margin-right: 0;
}

.main-title {
  color: #2d3440;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}

.breadcrumbs-item {
  margin-right: 10px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 91px 30px;
  margin: 0;
  list-style: none;
  padding: 0;
  margin-bottom: 57px;
  margin-top: 55px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 81px;
}

.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-self: center;
  margin-left: 335px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.navigation-list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 16px;
}

.navigation {
  padding: 24px 0;
}

.navigation-item a {
  padding: 8px 16px;
}

.navigation-user .nav-link {
  padding: 6px 16px;
  display: block;
}

.navigation-user .navigation-item:nth-child(3) {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.navigation-user .navigation-item:nth-child(4) {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.navigation-user .navigation-item {
  margin-right: 16px;
  font-size: 14px;
  position: relative;
}

.navigation-user .navigation-item:last-child {
  margin-right: 0;
}

.nav-link.contacts-phone {
  padding: 6px 0;
  font-size: 16px;
}

.nav-link.search {
  padding: 8px;
  background-color: rgba(252, 252, 252, 0.3);
  display: inline-block;
  height: 16px;
  border-radius: 50%;
}

.slide {
  display: none;
}

.slide.slide-active {
  display: flex;
  margin-left: 70px;
}

.slider-tech {
  display: flex;
  transform: translateY(-13px);
}

.slider-pagination {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  margin-right: auto;
}

.slide-image-current {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  transform: translateX(-18px);
}

.slider-button.slider-next {
  order: -1;
  transform: translateX(-19px);
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-button.slider-next:hover {
  background-image: url("../images/Arrow-right-black.svg");
  background-color: #FFFFFF;
}

.slider-button.slider-prev:hover {
  background-image: url("../images/Arrow-right-black.svg");
  background-color: #FFFFFF;
}

.slider-button.slider-next:active {
  background-image: url("../images/Arrow-right-black.svg");
  background-color: rgba(252, 252, 252, 0.5);
  border: none;
}

.slider-button.slider-prev:active {
  background-image: url("../images/Arrow-right-black.svg");
  background-color: rgba(252, 252, 252, 0.5);
  border: none;
}

.slider-button.slider-next:focus-visible {
  background-image: url("../images/Arrow-right-black.svg");
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
}

.slider-button.slider-prev:focus-visible {
  background-image: url("../images/Arrow-right-black.svg");
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
}

.slider-button.slider-prev:disabled {
  opacity: 40%;
}

.slider-button.slider-next:disabled {
  opacity: 40%;
}

.slider-image-current {
  order: -1;
}

.slider-title {
  margin-top: 136px;
  margin-bottom: 24px;
  width: 470px;
}

.ice-cream-description {
  margin-top: 0;
  margin-bottom: 48px;
}

.button-link {
  padding: 12px 32px;
  background-color: #FCFCFC;
  margin-bottom: 126px;
  border-radius: 26px;
}

.collector .button-link {
  display: inline-flex;
  font-weight: 700;
}

.collector .button-link,
.present-list .button-link {
  background: #fff;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
}

.collector .button-link:hover,
.present-list .button-link:hover {
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 0 4px #FCFCFC;
}

.collector .button-link:active,
.present-list .button-link:active {
  background-color: #FCFCFC;
  box-shadow: 0 0 0 2px #2D3440;
}

.collector .button-link:focus-visible,
.present-list .button-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: 0 0 0 2px #2D3440;
}

.collector .button-link:disabled,
.present-list .button-link:disabled {
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
  color: #B9B9B9;
  background-color: #E7E7E7;
}

.first-demonstration-ice-cream-container {
  min-height: 554px;
  width: 1170px;
}

section {
  margin-bottom: 61px;
}

section:last-child {
  margin-bottom: 0;
}

.title-description {
  width: 434px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.present-list-item-description {
  width: 304px;
  margin-top: 0;
  margin-bottom: 40px;
}

.present-list-item {
  display: flex;
  background-color: #FF7799;
  border-radius: 16px;
}

.present-list-item-title {
  margin-top: 36px;
  margin-bottom: 28px;
}

.present-list-item-inner {
  margin-left: 36px;
  margin-right: 11px;
  padding-bottom: 36px;
}

.present-list-item-inner .button-link {
  margin: 0;
  font-weight: 700;
}

.popular-title {
  width: 527px;
  margin: 0 auto;
  margin-bottom: 107px;
}

.popular-ice-cream-list-item-description {
  width: 190px;
  margin-top: 0;
}

.popular-ice-cream-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-bottom: 24px;
  padding-right: 40px;
  background-color: #FCFCFC;
}

.popular-ice-cream-title {
  margin: 0;
  margin-bottom: 8px;
}

.popular-ice-cream-image {
  border-radius: 50%;
}

.price-container {
  display: flex;
  justify-content: space-between;
  width: 190px;
}

.popular-ice-cream-link {
  width: 32px;
  height: 32px;
  background-color: #FF2F64;
}

.popular-ice-cream-image-link {
  height: 168px;
  margin-bottom: 16px;
}

.about {
  background-image: url("../images/waffle.png");
  padding: 24px;
  background-size: 100% 100%;
}

.about-container {
  background-color: aliceblue;
  padding-top: 56px;
  padding-bottom: 16px;
  border-radius: 16px;
}

.about-title {
  margin-top: 0;
  margin-bottom: 56px;
}

.about-list-item {
  margin-bottom: 40px;
}

.news {
  display: flex;
  flex-direction: column;
  background-image: url("../images/back-ice-cream.png");
  background-repeat: no-repeat;
  background-size: 115%;
  background-position-x: -7px;
  background-position-y: -108px;
  padding-left: 32px;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: #fff;
}

.news-link {
  width: 303px;
}

.news-comment {
  margin-top: 32px;
  margin-bottom: 13px;
}

.news-email-container {
  background-color: #FBFBFB;
  padding: 26px;
  width: 506px;
  margin: 6px;
  border-radius: 16px;
}

.news-email {
  background-image: url("../images/back-line.png");
  background-color: #fff;
  background-size: 100% 100%;
  width: 570px;
  min-height: 224px;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.news-description {
  margin: 0;
  margin-bottom: 42px;
  width: 506px;
}

.newsletter-input-form {
  line-height: 20px;
  width: 332px;
  height: 48px;
  padding: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 13px;
  padding-left: 16px;
  border: 1px solid #B9B9B9;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
}

.newsletter-button {
  padding: 12px 32px;
  border: 1px;
  width: 152px;
  background-color: #FF2F64;
  color: white;
}

aside {
  margin-bottom: 80px;
}

.delivery {
  background-image: url("../images/back-many-food.png");
  min-height: 534px;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-size: 100%;
  background-position: 0 -120px;
  transform: scaleX(-1);
  flex-direction: row-reverse;
  background-color: aliceblue;
}

.delivery-title {
  margin: 0;
  margin-bottom: 24px;
  width: 356px;
  margin-top: 167px;
}

.delivery-description {
  margin: 0;
}

.delivery-container {
  margin-left: 135px;
  transform: scaleX(-1);
}

.delivery-card {
  border-radius: 8px;
  height: 324px;
  background-color: #FCFCFC;
  padding: 40px;
  padding-bottom: 42px;
  margin-top: 64px;
  transform: scaleX(-1);
}

.delivery-card-description {
  width: 380px;
  margin: 0;
  margin-bottom: 31px;
}

.delivery-container-form {
  display: flex;
  margin-bottom: 19px;
}

.label-data {
  width: 117px;
  padding: 14px 16px;
  border: 1px solid #B9B9B9;
  margin-right: 16px;
}

.label-phone {
  width: 287px;
  border: 1px solid #B9B9B9;
  padding: 0;
}

.delivery-container-form p {
  margin-top: 0;
  margin-bottom: 0;
}

.delivery-form-address {
  margin: 0;
}

.label-address {
  width: 420px;
  border: 1px solid #B9B9B9;
  padding: 0;
  margin-bottom: 32px;
}

.delivery-form-button {
  padding: 12px 32px;
  border: 1px;
  width: 152px;
  background-color: #FF2F64;
  color: white;
  height: 44px;
  display: block;
  margin: 0 auto;
}

.address-card {
  background-image: url("../images/three-ice-cream.jpg");
  padding: 64px 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-position: 0 -80px;
  background-color: aliceblue;
}

.address-card-description {
  width: 179px;
  margin: 0;
  margin-bottom: 12px;
}

.address-card-date {
  padding: 40px;
  background-color: #FCFCFC;
  width: 263px;
  display: flex;
  flex-direction: column;
  height: 284px;
  margin-left: 64px;
  border-radius: 8px;
}

.phone-description {
  width: 203px;
}

.address-link {
  margin-bottom: 24px;
}

.address-card-date .button-link {
  margin: 0;
  width: 186px;
  background-color: #FF2F64;
  color: white;
  height: 20px;
  display: block;
  font-weight: 700;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3);
}

.address-card-date .button-link:hover {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 4px #FF2F64;
}

.address-card-date .button-link:active {
  background-color: #FEAFC3;
  box-shadow: 0 0 0 2px #2D3440;
}

.address-card-date .button-link:focus-visible {
  background-color: #FF2F64;
  box-shadow: 0 0 0 2px #2D3440;
}

.address-card-date .button-link:disabled {
  background-color: #B9B9B9;
  font-weight: 400;
  font-size: 16px;
  color: #565C66;
  box-shadow: 0 0 0 4px rgba(185, 185, 185, 0.3);
}

.address-number-description {
  margin-bottom: 32px;
}

.footer-container {
  display: flex;
}

.main-footer {
  padding: 48px 0;
}

.inner-footer {
  border-top: 1px solid rgba(252, 252, 252, 0.3);
}

.provider-list {
  display: grid;
  grid-template-columns: 126px 182px;
  column-gap: 24px;
  padding: 0;
  row-gap: 8px;
  margin-left: 283px;
}

.provider-list-item {
  height: 20px;
}

.studio-description {
  margin: 0;
  color: #2d3440;
}

.pagination-show-more {
  display: block;
  width: 179px;
  height: 44px;
  background-color: #FCFCFC;
}

.pagination-link {
  color: black;
  text-decoration: none;
  padding: 2px 7px;
}

.pagination-current {
  background-color: #FCFCFC;
  border-radius: 50%;
  padding: 2px 8px;
}

.breadcrumbs-link {
  text-decoration: none;
}

.breadcrumbs-link-current {
  border-bottom: 1px solid #2d3440;
}

input.price {
  width: 25px;
  padding: 0;
  border: 0;
  background-color: #feafc3;
  color: #2d3440;
  font-size: 14px;
  font-family: "Inter";
}

.catalog-filter-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.catalog-filter-group {
  height: 64px;
  margin-left: 0;
  padding: 0;
  border: 0;
  margin-right: 24px;
}

.catalog-filter-title {
  margin-bottom: 8px;
  padding: 0;
  margin-left: 16px;
}

.form-container {
  display: flex;
  margin-bottom: 16px;
}

.filler .button {
  display: block;
  width: 185px;
  height: 36px;
}

.form-container.filler {
  margin-bottom: 44px;
}

.basket-navigation {
  margin-right: 6px;
  transform: translateY(3px);
}

.slider-button {
  padding: 11px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 26px;
}

.arrow-prev {
  transform: rotate(-180deg);
  display: block;
}

.slider-pagination-button {
  padding: 6px;
  border-radius: 50%;
  border: 0;
  background-color: rgba(252, 252, 252, 0.3);
}

.slider-pagination {
  gap: 8px;
}

.slider-pagination-button-current {
  background-color: #FCFCFC;
}

.social-icon {
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
  border-radius: 24px;
}

.slider-image-current {
  z-index: 2;
}

.under-image-current {
  width: 327px;
  height: 312px;
  position: absolute;
  background-color: #FFCBD8;
  transform: translate(39px);
  border-radius: 50%;
}

.slider-button {
  z-index: 3;
}

.slider-next {
  margin-right: 21px;
}

.slider-image:nth-child(2n) {
  margin-right: 40px;
}

.slider-image {
  opacity: 40%;
  z-index: 2;
}

.under-image-first {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #FFCBD8;
  opacity: 0.4;
  border-radius: 50%;
  transform: translate(422px);
}

.under-image-two {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #FFCBD8;
  opacity: 0.4;
  border-radius: 50%;
  transform: translate(563px);
}

.popular-ice-cream-list-item-description {
  text-align: center;
}

.product-price {
  align-self: center;
}

.popular-ice-cream-list-item {
  border-radius: 8px;
}

.popular-ice-cream-link {
  background-image: url("../images/basket-white.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 50% 50%;
  border-radius: 50%;
  box-sizing: border-box;
}

.popular-ice-cream-link:hover {
  background-image: url("../images/basket.svg");
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FF2F64;
}

.popular-ice-cream-link:active {
  background-image: url("../images/basket.svg");
  background-color: #FFCBD8;
  border: 2px solid #FF2F64;
}

.popular-ice-cream-link:focus-visible {
  background-image: url("../images/basket-white.svg");
  background-color: #FF2F64;
  border: 2px solid #2D3440;
}

.popular-ice-cream-link:disabled {
  background-image: url("../images/basket-grey.svg");
  background-color: #B9B9B9;
}

.popular-ice-cream-image {
  margin-top: -51px;
}

.popular-ice-cream-image-link {
  margin-bottom: -35px;
}

.delivery-form-button,
.newsletter-button {
  padding: 12px 32px;
  border-radius: 26px;
  font-weight: 700;
  background: #FF2F64;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.4);
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inter";
}

.delivery-form-button:hover,
.newsletter-button:hover {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 4px #FF2F64;
}

.delivery-form-button:active,
.newsletter-button:active {
  background-color: #FEAFC3;
  box-shadow: 0 0 0 2px #2D3440;
}

.delivery-form-button:focus-visible,
.newsletter-button:focus-visible {
  background-color: #FF2F64;
  box-shadow: 0 0 0 2px #2D3440;
}

.delivery-form-button:disabled,
.newsletter-button:disabled {
  background-color: #B9B9B9;
  font-weight: 400;
  font-size: 16px;
  color: #565C66;
  box-shadow: 0 0 0 4px rgba(185, 185, 185, 0.3);
}

.info {
  width: 100%;
  height: 100%;
  display: block;
}

.delivery-card .form-label {
  margin-bottom: 8px;
  display: inline-block;
}

.delivery-card .label {
  padding: 14px 16px;
  box-sizing: border-box;
}

.button-info {
  border: none;
  background-color: #FCFCFC;
  display: block;
  margin: 0;
  padding: 0;
}

.heart-container {
  display: flex;
}

.heart {
  margin-top: 4px;
  margin-right: 8px;
}

.catalog-container {
  border: 0;
  background-color: #feafc3;
  color: #2d3440;
  font-size: 16px;
  font-family: "Inter";
  padding: 8px 16px;
}

.catalog-container-none {
  display: none;
}

.catalog-container-active {
  border: 0;
  background-color: #FF4A78;
  color: #FCFCFC;
  font-size: 16px;
  font-family: "Inter";
  padding: 8px 16px;
  border-radius: 30px;
  cursor: pointer;
}

.catalog-container:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.catalog-container:active {
  background-color: #FCFCFC;
  border-radius: 30px;
}

.catalog-container:focus-visible {
  box-shadow: 0 0 0 2px solid #2D3440;
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.catalog-container-active:hover {
  opacity: 60%;
}

.catalog-container-active:active {
  opacity: 30%;
}

.catalog-container-active:focus-visible {
  border-radius: 30px;
  box-shadow: 0 0 0 2px solid #000000;
}

.arrow-bottom {
  margin-left: 9px;
  position: relative;
  bottom: 2px;
}

.breadcrumbs-item:not(:first-child)::before {
  content: url("../images/duble-arrow.svg");
  margin-right: 6px;
  bottom: 1px;
  position: relative;
}

.select-control {
  background-color: rgba(252, 252, 252, 0.3);
  border: 0;
  width: 196px;
  font-family: "Inter";
  font-size: 14px;
  color: #2d3440;
  box-sizing: border-box;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 20px;
  padding-right: 10px;
  height: 36px;
  appearance: none;
  background-image: url("../images/arrow-black.svg");
  background-repeat: no-repeat;
  background-position: 169px;
}

.select-control option {
  padding: 10px;
}

.input-range {
  margin: 0;
  width: 164px;
  box-sizing: border-box;
}

.input-range-container {
  padding: 10px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  height: 16px;
}

input[type="range"] {
  height: 16px;
}

.catalog-filter-list-first {
  background-color: rgba(252, 252, 252, 0.3);
  box-sizing: border-box;
  padding: 8px 24px;
  border-radius: 18px;
  flex-wrap: wrap;
}

.catalog-filter-list .catalog-filter-item {
  margin-right: 17px;
}

.catalog-filter-list .catalog-filter-item:last-child {
  margin-right: 0;
}

.catalog-filter-list-two {
  min-width: 605px;
  box-sizing: border-box;
  padding: 10px 24px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  flex-wrap: wrap;
}

.filler .button {
  margin-left: -7px;
  margin-bottom: -2px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 700;
  box-shadow: 0 0 0 2px #FCFCFC;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  color: #2d3440;
  padding: 0;
  align-self: flex-end;
  border: none;
}

.filler .button:hover {
  background-color: #FCFCFC;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.filler .button:active {
  background-color: rgba(252, 252, 252, 0.3);
}

.filler .button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 2px #2D3440;
}

.filler .button:disabled {
  opacity: 40%;
}

.pagination-show-more {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
  border: 0;
  border-radius: 26px;
  padding: 0;
  color: #2d3440;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
  background-color: #FCFCFC;
}

.pagination-show-more:hover {
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 0 4px #FCFCFC;
}

.pagination-show-more:active {
  box-shadow: 0 0 0 2px #2D3440;
}

.pagination-show-more:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: 0 0 0 2px #2D3440;
}

.pagination-show-more:disabled {
  font-size: 16px;
  font-weight: 400;
  background-color: #E7E7E7;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
  color: #B9B9B9;
}

.pagination-link {
  color: #2d3440;
  width: 24px;
  box-sizing: border-box;
  height: 24px;
  border-radius: 50%;
  display: block;
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.pagination-link:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 1px solid #FCFCFC;
  box-sizing: border-box;
}

.pagination-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid #2D3440;
  box-sizing: border-box;
}

.not-active-arrow-left {
  display: block;
  transform: scale(-1);
  opacity: 30%;
}

.not-active-arrow-right {
  display: block;
  opacity: 30%;
}

.arrow-left {
  display: block;
  transform: scale(-1);
}

.pagination-prev {
  padding: 0;
  width: 16px;
  height: 16px;
  position: relative;
  top: 4px;
}

.pagination-item {
  height: 24px;
}

.pagination-item:first-child {
  margin-right: 8px;
}

.pagination-next {
  padding: 0;
  width: 16px;
  height: 16px;
  position: relative;
  top: 4px;
}

.pagination-item:last-child {
  margin-left: 8px;
}

.arrow-next {
  display: block;
}

.button {
  cursor: pointer;
}

.slider-pagination-button {
  cursor: pointer;
}

.catalog-container {
  cursor: pointer;
}

.slider-button {
  cursor: pointer;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
}

.slider-color {
  background-color: #feafc3;
}

.slider-color-blue {
  background-color: #69a9ff;
}

.slider-color-yollow {
  background-color: #fcc850;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.modal-container-close {
  display: none;
}

.modal {
  width: 570px;
  background-color: #fcfcfc;
  margin: auto;
  padding: 64px;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-self: center;
}

.modal-input {
  width: 442px;
  padding: 14px 16px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter";
  margin-bottom: 16px;
  color: #b9b9b9;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  height: 48px;
}

.modal-input:last-child {
  margin-bottom: 32px;
  padding-bottom: 113px;
}

.modal-title {
  margin: 0;
  color: #2d3440;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 32px;
}

.modal-close-button {
  background-image: url("../images/obelisk.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 32px;
  right: 32px;
  background-color: #fcfcfc;
  cursor: pointer;
}

.modal-button {
  margin-left: auto;
  display: block;
}

.nav-link:hover {
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.5);
}

.nav-link:active {
  background-color: #FCFCFC;
  border-radius: 30px;
}

.nav-link:focus-visible {
  box-shadow: 0 0 0 2px solid #2D3440;
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.nav-link.search-active {
  display: inline-block;
  border-radius: 30px;
  padding: 8px;
  height: 16px;
  background-color: #FF4A78;
  cursor: pointer;
}

.nav-link.search-none {
  display: none;
}

.nav-link.search-active:hover {
  opacity: 60%;
}

.nav-link.search-active:active {
  opacity: 30%;
}

.nav-link.search-active:focus-visible {
  border: 2px solid black;
}

.nav-link.entrance-active {
  color: #FCFCFC;
  background-color: #FF4A78;
  border-radius: 30px;
}

.nav-link.entrance-none {
  display: none;
}

.nav-link.entrance-active:hover {
  opacity: 60%;
}

.nav-link.entrance-active:active {
  opacity: 30%;
}

.nav-link.entrance-active:focus-visible {
  border: 2px solid black;
}

.nav-link.basket-active {
  color: #FCFCFC;
  background-color: #FF4A78;
  border-radius: 30px;
}

.nav-link.basket-none {
  display: none;
}

.nav-link.basket-active:hover {
  opacity: 60%;
}

.nav-link.basket-active:active {
  opacity: 30%;
}

.nav-link.basket-active:focus-visible {
  border: 2px solid black;
}

.popover-catalog {
  width: 138px;
  min-height: 188px;
  padding: 8px 0;
  background-color: #FCFCFC;
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  display: none;
}

.popover-catalog-title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  padding: 8px 16px 8px 16px;
  margin-top: 0;
  margin-bottom: 4px;
}

.popover-catalog-border {
  border-bottom: 1px solid #B9B9B9;
  width: 103px;
  margin: 0 auto;
  margin-bottom: 4px;
}

.popover-catalog-item a {
  margin: 0;
  padding: 6px 16px;
  font-size: 14px;
  display: block;
}

.popover-catalog-item a:hover {
  background-color: #FFCBD8;
}

.popover-catalog-item a:active {
  background-color: #FF7799;
}

.popover-catalog-item-current {
  background-color: #FF4A78;
}

.popover-catalog-list {
  padding: 0;
  list-style: none;
}

.navigation-item:first-child {
  position: relative;
}

.search-input-form {
  width: 324px;
  height: 48px;
  padding: 16px 14px;
  box-sizing: border-box;
  color: #B9B9B9;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.popover-search {
  width: 356px;
  height: 96px;
  padding: 24px 16px;
  background-color: #FCFCFC;
  box-sizing: border-box;
  border-radius: 4px;
  position: absolute;
  right: 0;
  z-index: 5;
  top: 40px;
  display: none;
}

.popover-entrance {
  width: 420px;
  height: 350px;
  background-color: #FCFCFC;
  padding: 48px;
  padding-bottom: 52px;
  box-sizing: border-box;
  border-radius: 4px;
  position: absolute;
  right: 0;
  z-index: 5;
  top: 40px;
  display: none;
}

.popover-entrance-title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 32px;
}

.popover-email {
  width: 324px;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid #B9B9B9;
  padding: 14px 16px;
  color: #2D3440;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 16px;
}

.popover-password {
  width: 324px;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid #B9B9B9;
  padding: 22px 16px;
  color: #2D3440;
  border-radius: 4px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter";
}

.button-popover {
  padding: 12px 32px;
  border-radius: 26px;
  font-weight: 700;
  background: #FF2F64;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.4);
  border: 0;
  color: #FCFCFC;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter";
  width: 113px;
}

.button-popover:hover {
  background-color: rgba(252, 252, 252, 0.3);
  color: #2D3440;
  box-shadow: 0 0 0 4px #FF2F64;
}

.button-popover:active {
  background-color: #FEAFC3;
  box-shadow: 0 0 0 2px #2D3440;
}

.button-popover:focus-visible {
  box-shadow: 0 0 0 2px #2D3440;
  background-color: #FF2F64;
}

.button-popover:disabled {
  box-shadow: 0 0 0 2px rgba(185, 185, 185, 0.3);
  background-color: #B9B9B9;
  color: #565C66;
  font-weight: 400;
}

.popover-email-container {
  display: flex;
}

.popover-entrance-list {
  list-style-type: none;
  padding: 0;
  margin-left: 23px;
}

a.password-link,
a.registration-link {
  padding: 0;
  border-bottom: 1px solid black;
  cursor: pointer;
}

a.password-link {
  margin-bottom: 4px;
}

.popover-basket {
  width: 441px;
  min-height: 382px;
  background-color: #FCFCFC;
  border-radius: 4px;
  padding: 48px;
  box-sizing: border-box;
  display: none;
  position: absolute;
  right: 0;
  z-index: 5;
  top: 40px;
}

.popover-basket-title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 32px;
}

.popover-basket-list {
  padding: 0;
  list-style-type: none;
}

.popover-basket-list-item {
  display: grid;
  grid-template-columns: 46px 148px 87px 16px;
  grid-template-rows: 22px 20px;
  column-gap: 16px;
  row-gap: 4px;
}

.popover-basket-cream-round {
  border-radius: 50%;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.popover-basket-cream-round-title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.quantity-ice-cream {
  color: #b9b9b9;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.popover-basket-cream-round-price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  grid-row: 1 / 3;
  grid-column: 3 / 4;
  margin: auto 0;
}

.obelisk-popover {
  padding: 3px;
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  margin: auto;
  cursor: pointer;
}

li.popover-basket-list-item {
  margin-bottom: 24px;
}

li.popover-basket-list-item:last-child {
  padding-bottom: 32px;
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 32px;
}

a.button-popover-basket {
  width: 198px;
  margin-right: 32px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  color: #FCFCFC;
  padding: 12px 32px;
}

.final-price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.popover-open {
  display: block;
}

.slider-pagination-button {
  padding: 0;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}

.slider-pagination-button:hover {
  border: 1px solid #FCFCFC;
}

.slider-pagination-button:active {
  background-color: #FCFCFC;
}

.slider-pagination-button:focus-visible {
  border: 1px solid #2D3440;
}

.social-link {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 24px;
}

.social-link:focus-visible {
  background-color: #2b3440;
  box-shadow: 0 0 0 2px #2d3440;
}

.tooltip-text {
  line-height: 16px;
  font-size: 12px;
  color: #565C66;
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  padding: 10px 8px;
  font-weight: 400;
  width: 160px;
  position: absolute;
  left: 100%;
  margin-left: 9px;
  transform: translateY(-50%);
  z-index: 1;
  display: none;
}

.tooltip {
  position: absolute;
  margin-top: 4px;
  width: 14px;
  height: 14px;
}

.button-info:hover+.tooltip-text,
.button-info:focus+.tooltip-text {
  display: block;
}

.form-label-icon {
  position: relative;
  padding-right: 16px;
}

.range-scale {
  position: relative;
  height: 2px;
  width: 164px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 2px;
  box-sizing: border-box;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565C66;
}

.range-toggle {
  padding: 0;
  width: 16px;
  height: 16px;
  position: absolute;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #2D3440;
}

.toggle-min {
  top: -7px;
  left: -10px;
}

.toggle-max {
  top: -7px;
  right: -10px;
}

.range-container {
  padding: 17px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.control {
  position: relative;
  display: block;
  padding-left: 24px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../images/checkbox-black.svg");
}

.control:hover .control-mark {
  background-image: url("../images/checked-white.svg");
}

.control-input:disabled+.control-mark {
  opacity: 50%;
}

.control-input:focus+.control-mark {
  background-image: url("../images/checked-white.svg");
  outline: 1px solid #5F5FFF;
}

.control-input[type="checkbox"]:checked:focus+.control-mark {
  background-image: url("../images/checkbox-white-checked.svg");
  outline: 1px solid #5F5FFF;
}

.control-input[type="checkbox"]:checked+.control-mark {
  background-image: url("../images/checkbox-checked-black.svg");
}

.control-input[type="checkbox"]:checked:hover+.control-mark {
  background-image: url("../images/checkbox-white-checked.svg");
}

.control-input[type="checkbox"]:checked:disabled+.control-mark {
  opacity: 50%;
}

.control-input[type="radio"]+.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../images/radio-black.svg");
}

.control-input[type="radio"]:hover+.control-mark {
  background-image: url("../images/radio-white.svg");
}

.control-input[type="radio"]:focus+.control-mark {
  outline: 1px solid #5F5FFF;
  border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark {
  background-image: url("../images/radio-black-cheked.svg");
}

.control-input[type="radio"]:checked:hover+.control-mark {
  background-image: url("../images/radio-white-cheked.svg");
}

.control-input[type="radio"]:disabled+.control-mark {
  opacity: 40%;
}

.control-input[type="radio"]:checked:disabled+.control-mark {
  opacity: 40%;
}

.modal-input:hover {
  border: 1px solid #2D3440;
  color: #2D3440;
}

.modal-input:focus-visible {
  border: 2px solid #2D3440;
  color: #2D3440;
}

.modal-input:disabled {
  border: 1px solid #B9B9B9;
  background-color: #E7E7E7;
  color: rgba(45, 52, 64, 0.6);
}

.modal-input:disabled:hover {
  border: 1px solid #B9B9B9;
  background-color: #E7E7E7;
  color: #2D3440;
}

.error {
  border: 1px solid #EA5454;
}

.popover-entrance input:hover {
  border: 1px solid #2D3440;
  color: #2D3440;
}

.popover-entrance input:focus-visible {
  outline: 2px solid #2D3440;
  color: #2D3440;
}

.popover-entrance input:disabled {
  border: 1px solid #B9B9B9;
  background-color: #E7E7E7;
  color: rgba(45, 52, 64, 0.6);
}

.popover-entrance input:disabled:hover {
  border: 1px solid #B9B9B9;
  background-color: #E7E7E7;
  color: #2D3440;
}

.search-input-form:hover {
  border: 1px solid #2D3440;
  color: #2D3440;
}

.search-input-form:focus-visible {
  outline: 2px solid #2D3440;
  color: #2D3440;
}

.search-input-form:disabled {
  border: 1px solid #B9B9B9;
  background-color: #E7E7E7;
  color: rgba(45, 52, 64, 0.6);
}

.search-input-form:disabled:hover {
  border: 1px solid #B9B9B9;
  background-color: #E7E7E7;
  color: #2D3440;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.delivery-card .label:hover {
  border: 1px solid #2D3440;
  color: #2D3440;
}

.delivery-card .label:focus-visible {
  outline: 2px solid #2D3440;
  color: #2D3440;
}

.delivery-card .label {
  height: 48px;
  border-radius: 3px;
  line-height: 20px;
  font-size: 16px;
}

.delivery-card .label:disabled {
  border: 1px solid #B9B9B9;
  background-color: #E7E7E7;
  color: rgba(45, 52, 64, 0.6);
}

.delivery-card .label:disabled:hover {
  border: 1px solid #B9B9B9;
  background-color: #E7E7E7;
  color: #2D3440;
}

.newsletter-input-form:hover {
  border: 1px solid #2D3440;
  color: #2D3440;
}

.newsletter-input-form:focus-visible {
  color: #2D3440;
  outline: 2px solid #2D3440;
}

.newsletter-input-form:disabled {
  border: 1px solid #B9B9B9;
  background-color: #E7E7E7;
  color: rgba(45, 52, 64, 0.6);
}

.newsletter-input-form:disabled:hover {
  border: 1px solid #B9B9B9;
  background-color: #E7E7E7;
  color: #2D3440;
}

.footer-container .social-list .button {
  height: 24px;
  display: block;
  border-radius: 50%;
}

.footer-container .social-list .button:active {
  background-color: #2d3440;
  opacity: 50%;
}

.footer-container .social-list .button:focus-visible {
  background-color: #2b3440;
  box-shadow: 0 0 0 2px #2d3440;
}

.catalog-container:hover+.popover-catalog {
  display: block;
}

.search:hover+.popover-search {
  display: block;
}

.entrance:hover+.popover-entrance {
  display: block;
}

.basket:hover+.popover-basket {
  display: block;
}

.slider-pagination {
  flex-wrap: wrap;
}

.body input {
  font-family: inherit;
}

.breadcrumbs {
  flex-wrap: wrap;
}

.social-list {
  flex-wrap: wrap;
}

.present-list {
  align-items: flex-start;
}

.present-list {
  flex-wrap: wrap;
}

.contacts-phone:hover {
  background-color: #feafc3;
}

.range-inner-container {
  width: 4px;
  height: 4px;
  background-color: #FCFCFC;
  border-radius: 50%;
  margin-left: 6px;
}

.range-toggle:hover {
  background-color: #FCFCFC;
}

.range-toggle:hover .range-inner-container {
  background-color: #2D3440;
}

.range-toggle:active {
  background-color: #2D3440;
}

.range-toggle:focus-visible {
  background-color: #FCFCFC;
  outline: 2px solid #2D3440;
}

.range-toggle:focus-visible .range-inner-container {
  background-color: #2D3440;
}

.entrance {
  background-image: url("../images/entrance.svg");
  background-size: 16px 16px;
  width: 88px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  text-align: right;
  background-position-x: 16px;
  background-position-y: 8px;
}

.nav-link.search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  background-position: 50% 50%;
}

.basket {
  background-image: url("../images/basket.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 115px;
  box-sizing: border-box;
  background-position-x: 16px;
  background-position-y: 8px;
  text-align: right;
}

.social-link-telegram {
  background-image: url("../images/telegram.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.social-link-vk {
  background-image: url("../images/vk.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.social-link-youtube {
  background-image: url("../images/youtube.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.social-link:hover {
  background-color: #2D3440;
}

.social-link:active {
  background-color: #2D3440;
  opacity: 50%;
}

.social-link:active {
  background-color: #2D3440;
  box-shadow: none;
  outline: 2px solid #2D3440;
  ;
}

.about-list-item {
  width: 506px;
}

.about-description {
  margin-left: auto;
}

.about-list-item:nth-child(1) {
  background-image: url("../images/ice-cream.svg");
  background-repeat: no-repeat;
  background-size: 48px 48px;
}

.about-list-item:nth-child(2) {
  background-image: url("../images/cow.svg");
  background-repeat: no-repeat;
  background-size: 48px 48px;
}

.about-list-item:nth-child(3) {
  background-image: url("../images/leaf.svg");
  background-repeat: no-repeat;
  background-size: 48px 48px;
}

.about-list-item:nth-child(4) {
  background-image: url("../images/thermometer.svg");
  background-repeat: no-repeat;
  background-size: 48px 48px;
}

.heart-container {
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: 50% 50%;
  margin-top: 3px;
  position: absolute;
  margin-left: -24px;
}

.popover-catalog {
  z-index: 1;
}

.popover-hover-catalog {
  width: 114px;
  height: 13px;
  position: absolute;
  top: -13px;
}

.popover-catalog:hover {
  display: block;
}

.modal-form textarea {
  height: 156px;
}

.search {
  top: 3px;
  position: relative;
  left: 1px;
}

.catalog-item {
  margin-right: 3px;
}

.present {
  margin-bottom: 81px;
}

.popular-ice-cream {
  margin-bottom: 80px;
}

.about {
  margin-bottom: 80px;
}

.delivery {
  margin-bottom: 80px;
}

.address {
  margin: 0;
}

.address-number-description {
  font-size: 14px;
}

.studio-description {
  position: relative;
  top: 9px;
}

.main-inner {
  margin-top: 32px;
}

h1.main-title {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 40px;
}

.popover-hover-search {
  width: 32px;
  height: 13px;
  position: absolute;
  right: 0;
  top: -13px;
}

.popover-search:hover {
  display: block;
}

.popover-hover-entrance {
  width: 88px;
  height: 13px;
  position: absolute;
  right: 0;
  top: -13px;
}

.popover-entrance:hover {
  display: block;
}

.popover-hover-basket {
  width: 115px;
  height: 13px;
  position: absolute;
  right: 0;
  top: -13px;
}

.popover-basket:hover {
  display: block;
}
